# Este é um .gitignore padrão para projetos Unity.

# Pastas geradas pela Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Arquivos de memória da Unity
/[Mm]emory[Bb]acker/

# Assets da loja de assets
/[Aa]ssets/AssetStoreTools*

# Arquivos de build (gerados ao compilar o jogo)
*.apk
*.aab
*.unitypackage
*.app

# Arquivos de IDEs (Visual Studio, Rider, etc.)
*.sln
*.suo
*.csproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Arquivos do sistema operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/My project/Library
